.detalhesDiv {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagButton {
    width: 42%;
}

.statusDiv {
    width: 42%;
    display: flex;
}

.statusDiv select {
    vertical-align: middle;
    height: 37px;
    width: 60%;
}

.statusDiv span {
    width: 1%;
}

.statusDiv button {
    vertical-align: middle;
    width: 39%;
}