/* .entrega-container {
    border: 1px solid red;
    height: 68vh;
} */

/* .entrega-container h1 {
    font-size: 18px;
    margin-bottom: 20px;
} */

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
}

.option input {
    margin-right: 10px;
}

.selected {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.address, .price {
    font-size: 14px;
}

.price {
    margin-left: auto;
    font-weight: bold;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.button-link {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e6cf00;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.726);
    box-shadow: .75px .75px black;
}

.button-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #c4b000;
}

.button:hover {
    background-color: #0056b3;
}

hr {
    background-color: black;
}