@media (min-width: 750px) {
    .div-produtos_pequenos {
        height: 23vw;
        width: 17vw;
        /* margin-top: 10px; */
        /* margin-right: 1.5vw; */
        /* margin-bottom: 10px; */
        /* margin-left: 1.5vw; */
        border: 2px solid #EEEEEE;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

    .linkProd {
        margin-top: 10px;
        margin-right: 1.5vw;
        margin-bottom: 10px;
        margin-left: 1.5vw;

        border-radius: 10px;
    }

    .icone_adicionar_carrinho {
        width:24px;
        height:24px;
    }

    .imagemProdutos {
        padding: 15px;
    }
}
@media (max-width: 750px) {
    .div-produtos_pequenos {
        height: 65vw;
        width: 45vw;
        /* margin-top: 10px; */
        /* margin-right: 1.5vw; */
        /* margin-bottom: 10px; */
        /* margin-left: 1.5vw; */
        border: 2px solid #EEEEEE;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

    .linkProd {
        margin-top: 10px;
        margin-right: 1.5vw;
        margin-bottom: 10px;
        margin-left: 1.5vw;

        border-radius: 10px;
    }

    .icone_adicionar_carrinho {
        width:15px;
        height:15px;
    }

    .imagemProdutos {
        padding: 5px;
    }
}

.linkProd {
    color: currentColor;
    text-decoration: none;
    display: flex;
}

.linkProd:hover {
    text-decoration: none;
    box-shadow:  0 5px 18px 5px rgba(255, 153, 0, 0.6);
}

.div-produtos_pequenos {
    background: #fff;
    padding: 0;
    position: relative;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    flex-shrink:1;
}

.divSub-produtos_pequenos {
    height: 100%;
    margin: auto;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
}

.divImagemProd {
    aspect-ratio: 0.75;
    max-height: 70%;
    object-fit: scale-down;
    justify-content: center;
    margin: 0px;
    padding: 0;
    height: auto;
    width: auto;
    align-items: center;
    flex-shrink:1;
    justify-content: center;
}

.imagemProdutos {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}

.divInfoProd {
    margin: auto;
    padding: 0;
}

.divInfoProd h4 {
    height: 0.825cm;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 0.35cm;
    line-height: 0.375cm;
    color: #464646;
}

.divPreco {
    height: 100%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    align-content: center;
}

.divPreco .precoUniCaixa {
    display: block;
    width: 100%;
}

.divPreco span {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    align-items: center;
    align-content: center;
    margin:0;
}

.divPreco .precoLowLow {
    font-size: 0.29cm;
}

.divPreco .precoHighLow {
    font-size: 0.396cm;
    font-weight: bold;
}

.divPreco .precoLowHigh {
    font-size: 0.33cm;
}

.divPreco .precoHighHigh {
    font-size: 0.45cm;
    font-weight: bold;
}

.divAdd {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    padding:0;
}

.formAdd {
    display:flex;
    justify-content: flex-end;
}

.btn-discreto {
    background-color: #EEEEEE;
    color: #4c4c4c;
    border-color: #4c4c4c;
    border-width: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 3px;
}