/* * {
    border: 1px solid red;
} */

body {
    background-color: white;
}

@media (min-width: 750px) {
    .variacaoFacesWindow, .indicUsoWindow {
        width: 25vw;
        
        left: 33vw;
    }

    .variacaoFacesWindow {
        top: 97.5vh;
    }

    .indicUsoWindow {
        top: 117.5vh;
    }

    .moreImgsWindow {
        left: 20vw;
        top: 21vh;
    }

    .imgMain_moreImgs {
        height: 80%;
    }

    .imgCol_moreImgs_main {
        height: 500px;
    }

    /* .imgCol_moreImgs_sub {
        height: 500px;
    } */

    .fichaTec td {
        text-align: justify;
    }
    
}

@media (max-width: 750px) {
    .variacaoFacesWindow, .indicUsoWindow, .moreImgsWindow {
        width: 85vw;
        
        left: 7.5vw;
    }

    .variacaoFacesWindow {
        top: 162vh;
    }

    .indicUsoWindow {
        top: 215vh;
    }

    .moreImgsWindow {
        top: 21vh;
    }

    .imgMain_moreImgs {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    .imgCol_moreImgs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgCol_moreImgs_sub {
        display: flex;
        justify-content: center;
    }

    .imgWrapper_moreImgs {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1px;
        justify-content: center;
    }

    .imgCol_moreImgs_main {
        height: 64vh;
    }

    .imgCol_moreImgs_main img {
        border-bottom: 1px solid #ff9900;
    }

    .imgCol_moreImgs_sub {
        height: 64vh;
    }

    .fichaTec td {
        /* text-align: justify; */
        text-align: center;
    }
    
    .moreImgsJanelaClose {
        font-size: x-large;
    }
}

hr {
    background-color: #ff9900;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.categoriaSeq {
    font-size: small;
}

.categoriaSeq a {
    color: black;
    text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.imgCol {
    padding: 0;
    height: 500px;
}

.imgMain {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

    width: 100%;
    height: 80%;
}

.imgMain img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    
    object-fit: contain;
}

.imgWrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20%;

    padding-top: 5px;
    border-top: 1px solid #ff9900;
}

.imgWrapper button {
    height: 100%;
    width: 23%;

    margin-left: 1%;
    margin-right: 1%;

    padding: 0;

    border: none;
}

.imgWrapper img {
    height: 100%;
    width: 100%;

    margin: 0;
}

.imgWrapper .moreImgs{
    font-size: x-large;
    font-weight: 650;
}

.arrow-left-foto, .arrow-right-foto{
    position: absolute;
    top: 0;
    left: 20px;
    right: auto;
    bottom:0;
    width: 70px;
    height: 80%;
    text-align: center;
    border: none;
    opacity: 0.5;
    transition: all 300ms ease-in-out;
    background: transparent;
    z-index: 1;
}

.arrow-left-foto{
    left: .5%;
}

.arrow-right-foto{
    left: auto;
    right: .5%;
}

.arrow-left-foto:hover {
    opacity: 1;
    width: 80px;
}
.arrow-right-foto:hover {
    opacity: 1;
    width: 80px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.imgCol_moreImgs {
    padding: 0;
    /* height: 500px; */
}

.imgMain_moreImgs {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

    width: 100%;
    /* height: 80%; */
}

.imgMain_moreImgs img {
    padding: 0;
    margin: 0;
    width: 95%;
    height: 98%;
    
    object-fit: contain;
}

.imgWrapper_moreImgs {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    padding-top: 5px;
}

.imgWrapper_moreImgs button {
    height: 20%;
    width: 22%;

    margin: 2%;
    margin-left: 1%;
    margin-right: 1%;

    padding: 0;

    border: none;
}

.imgWrapper_moreImgs img {
    height: 100%;
    width: 100%;

    margin: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.detalheCol hr {
    background-color: black;
}

.categoriaText, .marcaText {
    margin-bottom: 2.5px;
    font-size: small;
}

.categoriaText a, .marcaText a {
    color: black;
    text-decoration: none;
}

.descricaoText {
    text-align: justify;
}

.garantiaText, .devolucaoText {
    margin-bottom: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.compraCol {
    padding-top: 10px;
    border: 1px solid #ff9900;
    border-radius: 5%;
    
    display: flex;
    flex-direction: column;
    height: 100%;

    /* height: 250px; */
}

.compraCol form {
    flex: 1;
}

.disponibilidadeCompra {
    font-weight: 240;
    /* padding: 0;
    margin: 0; */
}

.compraCol hr {
    height: 1px;
    background-color: #ff9900;
}

.precoFull {
    margin-bottom: 0;
}

.preco {
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 0;
}

.preco_dinheiro {
    font-weight: 500;
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
}

.unidade {
    font-weight: 400;
    font-size: large;
}

.condPreco {
    margin-top: 0;
    font-weight: 400;
    font-size: medium;
}

.infoEmbalagem {
    margin-top: 5%;
    margin-bottom: 5%;
    
    font-weight: 500;
    font-size: medium;
}

.quantSelect {
    margin-top: 21%;
}

/* .quantSelect button {
    width: 27px;
    height: 27px;
    border-radius: 50%;

    background-color: white;
    vertical-align: middle;
    text-align: center;
} */

.quantidadeButton {
    cursor: pointer;
    width: 27px;
    height: 27px;
    border: 2px solid black;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Standard */
}

.quantSelect input {
    width: 50px;
    height: 27.5px;
    border: 2px solid black;
    border-radius: 13.75px;

    margin-left: 2px;
    margin-right: 2px;

    vertical-align: middle;
    text-align: center;
}

.quantSelect  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantSelect input[type=number] {
  -moz-appearance: textfield;
}

.caixasQuant {
    margin-left: 2.5%;
    font-weight: 500;

    vertical-align: middle;
    text-align: center;
}

.varsEmbalagem {
    margin-top: 5%;
    margin-bottom: 5%;
    
    font-weight: 500;
    font-size: medium;
}

.comprarBtn {
    width: 100%;
    margin-bottom: 10%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.extraInfoRow {
    text-align: justify;
}

.fichaTec td {
    vertical-align: middle;
}

.fichaTecInfo {
    cursor: pointer;
}

.variacaoFacesWindow, .indicUsoWindow, .moreImgsWindow {
    position: absolute;

    background-color: white;
    border: 2px solid #ff9900;
    border-radius: 21px;

    padding: 12px;

    z-index: 2;
}

.variacaoFacesWindow h4, .indicUsoWindow h4 {
    width: 98%;
}

.indicUsoJanelaClose, .variacaoFacesJanelaClose, .moreImgsJanelaClose {
    width: 2%;
    height: 16%;

    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.variacaoFacesWindow td, .indicUsoWindow td {
    text-align: justify;
    vertical-align: middle;
}