{%extends "admin_paginas/adminbase.html"%}
{% load static %}
{% load humanize %}
{% load custom_filters %}


{% block title %}Admin Home - CasaHG{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admincategoria.css' %}">

<section class="container">
    <div class="row">
        <div class="col-12">
            <div style="display: flex; justify-content: flex-end;">
                <form method="GET" action="">
                    <select name="categoria" onchange="this.form.submit()">
                        <option value="Todas" style="text-align: center;" {% if request.GET.categoria == "Todas" %}selected{% endif %}>Todas categorias</option>
                        {% for cat in Categorias %}
                            <option value="{{ cat.titulo }}" style="text-align: center;" {% if request.GET.categoria == cat.titulo %}selected{% endif %}>{{ cat.titulo }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h4>Produtos mais vendido</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Produto</th>
                        <th>Vendas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in ProdutosMaisVendido %}
                        <tr>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">
                                    <img src="{{ p.image.url }}" class="prodImage">
                                </a>
                            </td>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">{{ p.descricao }}</a>
                            </td>
                            <td style="vertical-align: middle;">{{ p.quantidade_vendas }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <h4>Produtos mais vistos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Produto</th>
                        <th>Visual.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in ProdutosMaisVistos %}
                        <tr>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">
                                    <img src="{{ p.image.url }}" class="prodImage">
                                </a>
                            </td>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">{{ p.descricao }}</a>
                            </td>
                            <td style="vertical-align: middle;">{{ p.visualizacao }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script src="{% static 'js/admincategoria.js' %}"></script>
{% endblock %}