{% extends 'admin_paginas/adminbase.html' %}
{% block title %}ADMINISTRADOR{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>

<div class = "container justify-content-center">
    <div class = "row">
        <div class = "col-md-4 mx-auto">
            <h3 class="my-3">Entrar Admin</h3>
            <form action="" method="post" >
                {%csrf_token%}
                {{form.as_p}}
                <div class="text-center">
                    <button class = "btn btn-success">Entrar Admin</button>
                </div>
                {%if error%}

                <li style="color: red;">{{error}}</li>

                {%endif%}
            </form>
        </div>
    </div>
</div>
{% endblock %}