{%extends "admin_paginas/adminbase.html"%}
{% load humanize %}
<title>{% block title %}Detalhes do pedido{% endblock %}</title>


    {% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Item</th>
                        <th>Avaliação</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>

                {% for cp in pedido_obj.carro.carroproduto_set.all %}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a target="_blank" href="{%url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{cp.produto.titulo}} {{cp.produto.id}}</a></td>
                    <td>{{cp.avaliacao}}</td>
                    <td>{{cp.subtotal}}</td>
                    <td>{{cp.quantidade}}</td>
                </tr>

                {% endfor %}
                <tr>
                <th colspan="4" class="text-right"> Valor total</th>
                <th>R$ {{pedido_obj.total|intcomma}}</th>
                </tr>
                </tbody>
            </table>
            <form action="{% url 'lojaapp:adminpedidomudar' pedido_obj.id %}" method="post">
                {%csrf_token%}
                <select name = "status">
                    {% for i,j in PEDIDO_STATUS %}
                        <option value="{{i}}" {% if i == pedido_obj.pedido_status%} selected="selected" {%endif%}>{{j}}</option>
                    {%endfor%}
                </select>
                <button class="btn btn-success">Alterar Status</button>
            </form>
        </div>
      </div>
    </div>

    {% endblock %}