{%extends "admin_paginas/adminbase.html"%}
{% load static %}
{% load humanize %}
{% load custom_filters %}


{% block title %}Admin Home - CasaHG{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adminhome.css' %}">

<section class="container">
    <div class="row adminLinksRow">
        <div class="col-6">
            <ul>
                <li>
                    <a href="https://eu.umami.is/websites/4e6aeeb5-ac3c-4a7d-8b04-5b7400a966e7">Estatísticas</a>
                </li>
                <li>
                    <a href="{% url 'lojaapp:adminlogs' %}">Logs</a>
                </li>
                <li>
                    <a href="{% url 'lojaapp:adminbanners' %}">Banners</a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    <a href="{% url 'lojaapp:admincategoria' %}">Categorias</a>
                </li>
                <li>
                    <a href="{% url 'lojaapp:admintodosprodutos' %}">Produtos</a>
                </li>
                <li>
                    <a href="{% url 'lojaapp:admintodospedido' %}">Pedidos</a>
                </li>
                <li>
                    <a href="{% url 'lojaapp:home' %}">Loja</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <h4>Produtos mais vendido</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Produto</th>
                        <th>Vendas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in ProdutosMaisVendido %}
                        <tr>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">
                                    <img src="{{ p.image.url }}" class="prodImage">
                                </a>
                            </td>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">{{ p.descricao }}</a>
                            </td>
                            <td style="vertical-align: middle;">{{ p.quantidade_vendas }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" style="vertical-align: middle;">
                            <a href="{% url 'lojaapp:admintodosprodutos' %}">
                                Todos os produtos
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <h4>Produtos mais vistos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Produto</th>
                        <th>Visual.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in ProdutosMaisVistos %}
                        <tr>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">
                                    <img src="{{ p.image.url }}" class="prodImage">
                                </a>
                            </td>
                            <td style="border-right: none; border-left: none; vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminprodutodetalhe' p.slug %}">{{ p.descricao }}</a>
                            </td>
                            <td style="vertical-align: middle;">{{ p.visualizacao }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" style="vertical-align: middle;">
                            <a href="{% url 'lojaapp:admintodosprodutos' %}">
                                Todos os produtos
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <h4>Ultimos pedidos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Cliente</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in Pedidos %}
                        <tr>
                            <td style="vertical-align: middle;">
                                <a href="{% url 'lojaapp:adminpedido' p.id %}">{{ p.id }}</a>
                            </td>
                            <td style="vertical-align: middle;">{{ p.nome_cliente }}</td>
                            <td style="vertical-align: middle;">{{ p.pedido_status }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" style="vertical-align: middle;">
                            <a href="{% url 'lojaapp:admintodospedido' %}">
                                Todos os pedidos
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}