{% extends "admin_paginas/adminbase.html" %}

{% load static %}
{% load humanize %}

{% block title %}Detalhes do pedido{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adminpedidodetalhe.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto detalhesDiv">
            <h3 class="d-flex" style="justify-content: center;">Detalhes do pedido</h3>
            <br>
            <p><span class="font-weight-bold"> Pedido ID: </span>{{ pedido_obj.id }}</p>
            <p><span class="font-weight-bold"> Status do pedido: </span><span {% if pedido_obj.pedido_status != "Pedido Completado" %}style="color: red;"{% endif %}>{{ pedido_obj.pedido_status }}</span></p>
            <p><span class="font-weight-bold"> Forma de pagamento: </span>{{ pedido_obj.local_de_pagamento }} - {{ pedido_obj.forma_de_pagamento }} {{ pedido_obj.parcelas }}x</p>
            <p><span class="font-weight-bold"> Criado em: </span>{{ pedido_obj.criado_em }}</p>
            <p><span class="font-weight-bold"> Nome Cliente: </span>{{ pedido_obj.nome_cliente }}</p>
            <p><span class="font-weight-bold"> CPF/CNPJ Cliente: </span>{{ pedido_obj.cpf_cnpj }}</p>
            <p><span class="font-weight-bold"> email Cliente: </span>{{ pedido_obj.email }}</p>
            <p><span class="font-weight-bold"> Telefone Cliente: </span>{{ pedido_obj.telefone }}</p>
            <p><span class="font-weight-bold"> Endereço {% if pedido.endereco_envio.cliente.nome == "Casa" and pedido.endereco_envio.cliente.sobrenome == "HG" %}retirada{% else %}entrega{% endif %}: </span>{{ pedido_obj.endereco_envio_formatado }}</p>

            <hr>

            <h4>Items do Pedido</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">Item</th>
                        <th class="text-center">Preço Unitário</th>
                        <th class="text-center">Quantidade</th>
                        <th></th>
                        <th class="text-center">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in pedido_obj.carro.carroproduto_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center"><a target="_blank" href="{%url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{ cp.produto.titulo }}</a></td>
                            <td class="text-center">R$ {{ cp.preco_unitario|intcomma }}</td>
                            <td class="text-center">{{ cp.quantidade }}</td>
                            <td colspan="3" class="text-center">R$ {{ cp.subtotal|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if pedido.total_desconto %}
                        <tr>
                            <th colspan="4" class="text-right" style="font-weight: 400;">Desconto:</th>
                            <th colspan="3" class="text-center" style="font-weight: 400;">R$ {{ pedido_obj.total_desconto|intcomma }}</th>
                        </tr>
                    {% endif %}
                    {% if pedido_obj.frete %}
                        <tr>
                            <th colspan="4" class="text-right" style="font-weight: 400;">Frete</th>
                            <th colspan="3" class="text-center" style="font-weight: 400;">R$ {{ pedido_obj.frete|intcomma }}</th>
                        </tr>
                    {% endif %}
                    <tr>
                        <th colspan="4" class="text-right">Valor total</th>
                        <th colspan="3" class="text-center">R$ {{ pedido_obj.total_final|intcomma }}</th>
                    </tr>
                </tfoot>
            </table>

            {% if pedido_obj.local_de_pagamento == "online" %}
                <form action="{% url 'lojaapp:consultar_checkout_pag' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="path" value="{{ request.path }}">
                    <input type="hidden" name="checkout_id" value="{{ pedido_obj.id_PagBank }}">
                    <button class="btn btn-info pagButton">Consultar pagamento</button>
                </form>
                <br>
            {% endif %}
            <form action="{% url 'lojaapp:adminpedidomudar' pedido_obj.id %}" method="post">
                {% csrf_token %}
                <div class="statusDiv">
                    <select name="status">
                        {% for i,j in PEDIDO_STATUS %}
                            <option value="{{ i }}" {% if i == pedido_obj.pedido_status %}selected="selected"{% endif %}>{{ j }}</option>
                        {% endfor %}
                    </select>
                    <span></span>
                    <button class="btn btn-success">Alterar Status</button>                    
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}