<div style="border: 2px solid #ff9900; width: 50%; margin-left: 25%;">
    <header style="color: #ff9900; background-color: #151635; border-bottom: 2px solid #ff9900;">
        <table style="color: #ff9900; width: 100%;">
            <tr>
                <th style="padding-left: 5px;">
                    <img style="height: 75px;" src="{{ logo }}">
                </th>
                <th style="padding-right: 5px;">
                    <h1 style="height: 100%; align-items: center; margin: 0px; padding: 0px;">Pedido #{{ pedido.id }}</h1>
                </th>
            </tr>
        </table>
    </header>
    <section style="margin: 5px; color: black;">
        <h1>Pedido #{{ pedido.id }} pronto para retirada</h1>
        <p>Olá, {{ pedido.nome_cliente }}.</p>
        <p>Agradecemos por sua comprar na Casa HG. Seu pedido está pronto para retirada na loja.</p>
        <hr>
        <table style="color: black;">
            <tr>
                <th colspan="2" style="text-align: left;">Resumo do pedido</td>
            </tr>
            <tr><th colspan="2"></th></tr>
            <tr>
                <td>Pedido nº:</td>
                <td>{{ pedido.id }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ pedido.pedido_status }}</td>
            </tr>
            <tr>
                <td>Pedido realizado em:</td>
                <td>{{ pedido.criado_em }}</td>
            </tr>
            <tr>
                <td>Pedido será enviado para:</td>
                <td>{{ pedido.endereco_envio_formatado }}</td>
            </tr>
            <tr>
                <td>Total do pedido:</td>
                <td>R$ {{ pedido.total_final }}</td>
            </tr>
            <tr><th colspan="2"></th></tr>
            <!-- <tr>
                <td colspan="2"><a href="{{ urlDetalhePedido }}"><button style="width: 100%; border: 1px solid #ff9900; color: #ff9900; background-color: #151635; cursor: pointer;">Detalhes do pedido</button></a></td>
            </tr> -->
            <tr>
                <th style="border: 1px solid #ff9900; background-color: #151635;"><a href="{{ urlDetalhePedido }}" style="width: 100%; color: #ff9900; text-decoration: none;">Detalhes do pedido</a></td>
            </tr>
        </table>
        <br>
        <p>Equipe CasaHG</p>
    </section>
    <footer style="color: #ff9900; background-color: #151635; border-top: 2px solid #ff9900;">
        <table style="color: #ff9900; width: 100%;">
            <tr>
                <th>
                    <!-- TODO: Preencher href -->
                    <a href="" style="align-items: center; text-decoration: none;"><img style="height: 75px; margin-bottom: 0px; padding-bottom: 0px;" src="{{ logo }}"></a>
                </th>
            </tr>
            <tr>
                <th>
                    <h1 style="align-items: center; font-size: 12px; margin-top: 0px; padding-top: 0px;">Copyright © 2024 CasaHG | Todos os direitos reservados.</h1>
                </th>
            </tr>
        </table>
    </footer>
</div>