{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/banner.css' %}">

<div class="container-custom" style="padding-left: 5px; padding-right: 5px;">
    <button class="arrow-left control" aria-label="Previous image">
        <svg height="100%" width="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 9L8 12M8 12L11 15M8 12H16M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>
    <button class="arrow-right control" aria-label="Next image">
        <svg height="100%" width="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 15L16 12M16 12L13 9M16 12H8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>
    <div class="gallery-wrapper" id="WrapperId" style="overflow: hidden;">
        <div class="gallery">
            <!-- Links -->
            {% for banner in banners %}
                <a id="L{{forloop.counter}}" draggable="false" href="{{banner.link}}"></a>
            {% endfor %}
            <!-- Banners -->
            {% for banner in banners %}
                <img draggable="false" src="{{banner.image_grande.url}}" class="item-grande" {% if not forloop.first %}loading="lazy"{% endif %}>
                <img draggable="false" src="{{banner.image_pequena.url}}" class="item-pequeno" {% if not forloop.first %}loading="lazy"{% endif %}>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/banner.js' %}"></script>