{% extends 'base.html' %}
{% load static %}

{% block title %}{{ categoria.titulo }} - CasaHG{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/categoria.css' %}">

{% include 'barra_macro_classificar.html' %}

<section>
    <div class="container">
        <div class="row mt-1 justify-content-center align-items-center">
            {% for p in page_obj %}
                <div class="col-lg-3 col-md-4 col-sm-12 col-12" style="padding:0px;">
                    {% include "produtos_pequenos.html" %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3" style="display:flex; justify-content: center;">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?Classificar={{ request.GET.Classificar }}&page=1">&ll;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?Classificar={{ request.GET.Classificar }}&page={{ page_obj.previous_page_number }}">&lt;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&ll;</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">&lt;</span>
                            </li>
                        {% endif %}
                
                        {% for page in page_obj.paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="page-item active">
                                    <span class="page-link">{{ page }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?Classificar={{ request.GET.Classificar }}&page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?Classificar={{ request.GET.Classificar }}&page={{ page_obj.next_page_number }}">&gt;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?Classificar={{ request.GET.Classificar }}&page={{ page_obj.paginator.num_pages }}">&gg;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&gt;</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">&gg;</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}