{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Cliente - CasaHG{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clienteregistrar.css' %}">

<section class="container justify-content-center">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h3 class="my-3">Cadastrar Clientes</h3>
            <form action="" method="post" >
                {%csrf_token%}
                {{form.as_p}}
                <div class="termos_condicoes_Div">
                    <div class="d-flex" style="display: table;">
                        <div style="width: 5%; height: 100%;">
                            <input id="termos_condicoes" type="checkbox" name="condicoes">
                        </div>
                        <div style="display: table;">
                            <label>Declaro que li e concorco com os <span id="termos_condicoes_btn">termos e condições da compra</span></label>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button id="btnComprar" class="btn btn-success" disabled>Cadastrar Cliente</button>
                </div>
            </form>
            <br>
            <div>
                Se você já é cadastrado: <a href="{%url 'lojaapp:clienteentrar' %}">Entrar</a>
            </div>
        </div>
    </div>
</section>

<!-- TODO: Rever texto -->
<div class="termos_condicoes_janela" style="display: none;">
    <div class="d-flex">
        <h4>Termos e condições da compra</h4>
        <span class="termos_condicoes_janela_close"><b>x</b></span>
    </div>    
    <ul><b>Regras de entrega</b>
        <li>
            O caminhão de entrega vai até o ponto mais próximo do endereço dentro dos limites de espaço e segurança do veiculo
        </li>
        <li>
            Os materiais de entrega serão colocados ao lado do caminhão, sendo responsabilidade do cliente levar o material até o local da obra
        </li>
    </ul>
    <ul><b>Regras de retira</b>
        <li>
            A retira da mercadoria só poderá ser feita no endereço escolhido na compra
        </li>
        <li>
            A retira deverá ser feita em 7 dias
        </li>
    </ul>
    <ul><b>Regras de pagamento em dinheiro</b>
        <li>
            A compra só será finalizada no ato do pagamento, no caixa de uma das lojas
        </li>
        <li>
            O material não está reservado para compra, podendo acabar os estoques antes do pagamento
        </li>
    </ul>
</div>
    
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>
<script src="{% static 'js/clienteregistrar.js' %}"></script>
{% endblock %}