{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Alterar Senha - CasaHG{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>

<section class="container justify-content-center">
    <div class="row">
        <div class = "col-md-4 mx-auto">
            <h3 class="my-3">Alterar sua senha</h3>
            <form action="" method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <div class="text-center">
                    <button class = "btn btn-success">Salvar</button>
                </div>

                {%if error%}
                    <li style="color: red;">{{ error }}</li>
                {%endif%}
            </form>
        </div>
    </div>
</section>
{% endblock %}