{% extends 'base.html' %}
{% block title %}Cadastrar Cliente{% endblock %}

{% block content %}

    <style>
        .errorlist{
            color: red;
        }
    </style>

    <div class = "container justify-content-center">
        <div class = "row">
            <div class = "col-md-4 mx-auto">
                <h3 class="my-3">Entrar Clientes</h3>
                <form action="" method="post" >
                    {%csrf_token%}
                    {{form.as_p}}
                    <div class="text-center">
                        <button class = "btn btn-success">Login</button>
                    </div>
                    {%if error%}

                        <li style="color: red;">{{error}}</li>

                    {%endif%}
                </form>
                <br>
                <div>
                    Se você ainda não é cadastrado: <a href="{%url 'lojaapp:clienteregistrar' %}{%if request.GET.next%}?next={{request.GET.next}}{%endif%}">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}