{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Detalhe pedido {{ pedido_obj.id }} - CasaHG{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clientepedidodetalhe.css' %}">

<section class="container">
    <br>
    <div class="row m-1 justify-content-center">
        <div class="col" style="background-color: white; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h3 class="d-flex" style="justify-content: center;">Detalhes do pedido</h3>
            <br>
            <p><span class="font-weight-bold"> Pedido ID: </span>{{ pedido_obj.id }}</p>
            <p><span class="font-weight-bold"> Status do pedido: </span>{{ pedido_obj.pedido_status }}</p>
            <p><span class="font-weight-bold"> Criado em: </span>{{ pedido_obj.criado_em }}</p>
            <p><span class="font-weight-bold"> Informação Cliente: </span>{{ pedido_obj.nome_cliente }}</p>
            <p><span class="font-weight-bold"> email Cliente: </span>{{ pedido_obj.email }}</p>
            <p><span class="font-weight-bold"> Telefone Cliente: </span>{{ pedido_obj.telefone }}</p>
            <p><span class="font-weight-bold"> Endereço {% if pedido.endereco_envio.cliente.nome == "Casa" and pedido.endereco_envio.cliente.sobrenome == "HG" %}retirada{% else %}entrega{% endif %}: </span>{{ pedido_obj.endereco_envio_formatado }}</p>

            <hr>

            <h4>Items do Pedido</h4>
            <div class="pequeno">
                <!-- <span class="spanTotal">Total: R$ {{ pedido_obj.total_final|intcomma }}</span> -->
                <!-- <br> -->
                {%for cp in pedido_obj.carro.carroproduto_set.all %}
                    <div class="row">
                        <div class="col-5 colImage">
                            <img class="prodImage" src="{{ cp.produto.image.url }}">
                        </div>
                        <div class="col-7 colTable">
                            <table class="table">
                                <tr>
                                    <td colspan="2" class="text-center" style="border-top: none;"><a href="{% url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{ cp.produto.descricao }}</a></td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="border-bottom: none; width: 50%;"><span style="margin: 0px; padding: 0px; font-size: x;">Preço Unitário:</span></td>
                                    <td class="text-left" style="border-bottom: none; width: 50%;">R$ {{ cp.preco_unitario|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="border-bottom: none; border-top: none; width: 50%;">Quantidade:</td>
                                    <td class="text-left" style="border-bottom: none; border-top: none; width: 50%;">{{ cp.quantidade }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="border-bottom: none; border-top: none; width: 50%;">Subtotal:</td>
                                    <td class="text-left" style="border-bottom: none; border-top: none; width: 50%;">R$ {{ cp.subtotal|intcomma }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr style="background-color: black;">
                    {% endif %}
                {% endfor %}
                <br>
                <span class="spanTotal d-flex" style="display: flex; justify-content: flex-end;">Total: R$ {{ pedido_obj.total_final|intcomma }}</span>
                <br>
            </div>

            <table class="table grande">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">Item</th>
                        <th class="text-center">Preço Unitário</th>
                        <th class="text-center">Quantidade</th>
                        <th></th>
                        <th class="text-center">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in pedido_obj.carro.carroproduto_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center"><a target="_blank" href="{%url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{ cp.produto.titulo }}</a></td>
                            <td class="text-center">R$ {{ cp.preco_unitario|intcomma }}</td>
                            <td class="text-center">{{ cp.quantidade }}</td>
                            <td colspan="3" class="text-center">R$ {{ cp.subtotal|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if pedido.total_desconto %}
                        <tr>
                            <th colspan="4" class="text-right" style="font-weight: 400;">Desconto:</th>
                            <th colspan="3" class="text-center" style="font-weight: 400;">R$ {{ pedido_obj.total_desconto|intcomma }}</th>
                        </tr>
                    {% endif %}
                    {% if pedido_obj.frete %}
                        <tr>
                            <th colspan="4" class="text-right" style="font-weight: 400;">Frete</th>
                            <th colspan="3" class="text-center" style="font-weight: 400;">R$ {{ pedido_obj.frete|intcomma }}</th>
                        </tr>
                    {% endif %}
                    <tr>
                        <th colspan="4" class="text-right">Valor total</th>
                        <th colspan="3" class="text-center">R$ {{ pedido_obj.total_final|intcomma }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

{% endblock %}
