{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Deletar Perfil - CasaHG{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center text-danger">Confirmação de Exclusão de Perfil</h2>
        </div>
        <div class="card-body">
            <p class="text-center">Você está prestes a deletar seu perfil. Esta ação não pode ser desfeita. Tem certeza de que deseja continuar?</p>
            <div class="text-center">
                <form method="post" class="d-inline-block">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sim, Deletar Meu Perfil</button>
                </form>
                <a href="{% url 'lojaapp:clienteperfil' %}" class="btn btn-secondary ml-2">Cancelar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}