{% extends 'base.html' %}
{% load static %}

{% block title %}CasaHG{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/produtos_pequenos.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% include "banner.html" %}

{% include "mais_vendidos.html" %}

{% for cat, produtos in produtos_por_categoria.items %}
    <br>
    {% include "home_produtos_categoria.html" %}
    {% if not forloop.last %}
        <hr style="background-color: #151635;">
    {% endif %}
{% endfor %}

<section class="container">
    <div class="row mt-1 justify-content-center align-items-center">
    {% for p in page_obj %}
        <div class="col-lg-3 col-md-4 col-sm-12 col" style="padding:0px;">
            {% include "produtos_pequenos.html" %}
        </div>
    {% endfor %}
    </div>
</section>
<br>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-3" style="display:flex; justify-content: center;">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&ll;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&ll;</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">&lt;</span>
                        </li>
                    {% endif %}

                    {% if page_obj.has_previous and page_obj.has_next %}
                        {% if quatroAtras %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ quatroAtras }}">{{ quatroAtras }}</a>
                            </li>
                        {% endif %}
                        {% if tresAtras %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ tresAtras }}">{{ tresAtras }}</a>
                            </li>
                        {% endif %}
                        {% if duasAtras %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ duasAtras }}">{{ duasAtras }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        {% if duasFrente %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ duasFrente }}">{{ duasFrente }}</a>
                            </li>
                        {% endif %}
                        {% if tresFrente %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ tresFrente }}">{{ tresFrente }}</a>
                            </li>
                        {% endif %}
                        {% if quatroFrente %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ quatroFrente }}">{{ quatroFrente }}</a>
                            </li>
                        {% endif %}
                    {% elif page_obj.has_previous %}
                        {% if quatroAtras %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ quatroAtras }}">{{ quatroAtras }}</a>
                            </li>
                        {% endif %}
                        {% if tresAtras %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ tresAtras }}">{{ tresAtras }}</a>
                            </li>
                        {% endif %}
                        {% if duasAtras %}
                            <li class="page-item">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ duasAtras }}">{{ duasAtras }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                    {% elif page_obj.has_next %}
                        <li class="page-item active">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        {% if duasFrente %}
                            <li class="page-item">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ duasFrente }}">{{ duasFrente }}</a>
                            </li>
                        {% endif %}
                        {% if tresFrente %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ tresFrente }}">{{ tresFrente }}</a>
                            </li>
                        {% endif %}
                        {% if quatroFrente %}
                            <li class="page-item grande">
                                <a class="page-link" href="?perfil={{ caixaPerfil }}&page={{ quatroFrente }}">{{ quatroFrente }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item active">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&gg;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&gt;</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">&gg;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</section>

<div id="messages" data-messages='[{% for message in messages %}{"text": "{{ message }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %}{% endfor %}]'></div>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
