{% extends 'base.html' %}
{% load static %}

{% block title %}CasaHG{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/produtos_pequenos.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% include "banner.html" %}

{% include "mais_vendidos.html" %}

{% for cat, produtos in produtos_por_categoria.items %}
    <br>
    {% include "home_produtos_categoria.html" %}
    {% if not forloop.last %}
        <hr style="background-color: #151635;">
    {% else %}
        <br>
    {% endif %}
{% endfor %}

<div id="messages" data-messages='[{% for message in messages %}{"text": "{{ message }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %}{% endfor %}]'></div>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
