{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Meu Carrinho - CasaHG{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/carro.css' %}">

<section class="container table-container">
    <br>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12">
            {% if carro.carroproduto_set.all%}
                <h4 class="grande">ITENS DO CARRINHO</h4>
            {% endif %}
            <!-- TODO: Quantidade é em unidade (Ex: m^2) e não caixa -->
            <div class="table-responsive grande">
                {% if carro.carroproduto_set.all%}
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Produtos</th>
                                <th class="text-center">Preço Unitário</th>
                                <th class="text-center">Quantidade</th>
                                <th style="border-right: none;"></th>
                                <th {% if not carro.carroproduto_set.all%}colspan = "2"{% endif %} class="text-center" style="border-right: none; border-left: none;">Subtotal</th>
                                <th style="border-left: none;"></th>
                                {% if carro.carroproduto_set.all%}
                                    <th class="text-center">Ação</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {%for cp in carro.carroproduto_set.all %}
                                <tr>
                                    <td class="text-center" style="border-right: none;">{{ forloop.counter }}.</td>
                                    <td class="text-center" style="border-left: none; border-right: none;"><img class="prodImage" src="{{ cp.produto.image.url }}"></td>
                                    <td class="text-center" style="border-left: none;"><a href="{% url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{ cp.produto.descricao }}</a></td>
                                    <td class="text-center">R$ {{ cp.preco_unitario|intcomma }}</td>
                                    <td class="text-center">{{ cp.quantidade }}</td>
                                    <td {% if not carro.carroproduto_set.all%}colspan = "4"{% else %}colspan = "3"{% endif %} class="text-center">R$ {{ cp.subtotal|intcomma }}</td>
                                    <td class="justify-content-center text-center">
                                        <a href="{%url 'lojaapp:manipularcarro' cp.id %}?acao=inc" class="btn btn-success"> + </a>
                                        <a href="{%url 'lojaapp:manipularcarro' cp.id %}?acao=dcr" class="btn btn-warning"> - </a>
                                        <a href="{%url 'lojaapp:manipularcarro' cp.id %}?acao=rmv" class="btn btn-danger"> X </a>
                                    </td>
                                </tr>
                            {%endfor%}
                            <tr>
                                <th colspan = "5" class="text-right">Total:</th>
                                <th {% if not carro.carroproduto_set.all%}colspan = "4"{% else %}colspan = "3"{% endif %} class="text-center">R$ {{ carro.total|intcomma }}</th>
                                {% if carro.carroproduto_set.all%}
                                    <th class="justify-content-center text-center">
                                        <a href="{%url 'lojaapp:limparcarro'%}" class="btn btn-warning"> Limpar carrinho </a>
                                    </th>
                                {% endif %}
                            </tr>
                            <tr>
                                {% if carro.carroproduto_set.all%}
                                    <th colspan="9" class="justify-content-center text-center">
                                        <a href="{%url 'lojaapp:formadeentrega'%}" class="btn btn-info"> Finalizar Compra </a>
                                    </th>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <h4>Seu carrinho está vazio</h4>
                {% endif %}
            </div>

            <div class="pequeno">
            <!-- <div class="peqTest"> -->
                {% if carro.carroproduto_set.all%}
                    <span class="spanTotal">Total: R$ {{ carro.total|intcomma }}</span>
                    <div class="row">
                        <div class="col-12 justify-content-center text-center">
                            <a href="{%url 'lojaapp:formadeentrega'%}" class="btn btn-info btnTot"> Finalizar Compra </a>
                        </div>
                    </div>
                    <br>
                    {%for cp in carro.carroproduto_set.all %}
                    <div class="row">
                        <div class="col-5 colImage">
                            <img class="prodImage" src="{{ cp.produto.image.url }}">
                        </div>
                        <div class="col-7 colTable">
                            <table class="table">
                                <tr>
                                    <td colspan="2" class="text-center" style="border-top: none;"><a href="{% url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{ cp.produto.descricao }}</a></td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="border-bottom: none; width: 50%;"><span style="margin: 0px; padding: 0px; font-size: smaller; font-weight: 625;">Preço Unitário:</span></td>
                                    <td class="text-left" style="border-bottom: none; width: 50%;">R$ {{ cp.preco_unitario|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="border-bottom: none; border-top: none; width: 50%;">Quantidade:</td>
                                    <td class="text-left" style="border-bottom: none; border-top: none; width: 50%;">{{ cp.quantidade }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="border-bottom: none; border-top: none; width: 50%;">Subtotal:</td>
                                    <td class="text-left" style="border-bottom: none; border-top: none; width: 50%;">R$ {{ cp.subtotal|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="justify-content-center text-center" style="border-bottom: none;">
                                        <a href="{%url 'lojaapp:manipularcarro' cp.id %}?acao=inc" class="btn btn-success"> + </a>
                                        <a href="{%url 'lojaapp:manipularcarro' cp.id %}?acao=dcr" class="btn btn-warning"> - </a>
                                        <a href="{%url 'lojaapp:manipularcarro' cp.id %}?acao=rmv" class="btn btn-danger"> X </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr style="background-color: black;">
                    {% endif %}
                    <!-- <br> -->
                    {% endfor %}
                    <br>
                    <div class="row">
                        <div class="col-12 justify-content-center text-center">
                            <a href="{%url 'lojaapp:limparcarro'%}" class="btn btn-warning btnTot"> Limpar carrinho </a>
                        </div>
                    </div>
                {% else %}
                    <h4>Seu carrinho está vazio</h4>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}