{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{% if request.GET.query %}{{ request.GET.query }} - {% endif %}CasaHG{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pesquisar.css' %}">

{% include 'barra_macro_classificar.html' %}
<div class="pequeno">
    {% include "filtro_coluna_macro_produtos_pequeno.html" %}
</div>

<section class="d-flex">
    {% if resultado %}
        <div class="grande">
            {% include "filtro_coluna_macro_produtos_grande.html" %}
        </div>
        <div class="productCol">
            <div class="container">
                <div class="row mt-1 justify-content-center align-items-center">
                    {% for p in resultado %}
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12" style="padding:0px;">
                            {% include "produtos_pequenos.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <br>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-3" style="display:flex; justify-content: center;">
                        <nav aria-label="...">
                            <ul class="pagination">
                                {% if resultado.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page=1{{ urlGet }}">&ll;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.previous_page_number }}{{ urlGet }}">&lt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&ll;</span>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">&lt;</span>
                                    </li>
                                {% endif %}

                                {% if resultado.has_previous and resultado.has_next %}
                                    {% if quatroAtras %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ quatroAtras }}{{ urlGet }}">{{ quatroAtras }}</a>
                                        </li>
                                    {% endif %}
                                    {% if tresAtras %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ tresAtras }}{{ urlGet }}">{{ tresAtras }}</a>
                                        </li>
                                    {% endif %}
                                    {% if duasAtras %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ duasAtras }}{{ urlGet }}">{{ duasAtras }}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.previous_page_number }}{{ urlGet }}">{{ resultado.previous_page_number }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <span class="page-link">{{ resultado.number }}</span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.next_page_number }}{{ urlGet }}">{{ resultado.next_page_number }}</a>
                                    </li>
                                    {% if duasFrente %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ duasFrente }}{{ urlGet }}">{{ duasFrente }}</a>
                                        </li>
                                    {% endif %}
                                    {% if tresFrente %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ tresFrente }}{{ urlGet }}">{{ tresFrente }}</a>
                                        </li>
                                    {% endif %}
                                    {% if quatroFrente %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ quatroFrente }}{{ urlGet }}">{{ quatroFrente }}</a>
                                        </li>
                                    {% endif %}
                                {% elif resultado.has_previous %}
                                    {% if quatroAtras %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ quatroAtras }}{{ urlGet }}">{{ quatroAtras }}</a>
                                        </li>
                                    {% endif %}
                                    {% if tresAtras %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ tresAtras }}{{ urlGet }}">{{ tresAtras }}</a>
                                        </li>
                                    {% endif %}
                                    {% if duasAtras %}
                                        <li class="page-item">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ duasAtras }}{{ urlGet }}">{{ duasAtras }}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.previous_page_number }}{{ urlGet }}">{{ resultado.previous_page_number }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <span class="page-link">{{ resultado.number }}</span>
                                    </li>
                                {% elif resultado.has_next %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ resultado.number }}</span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.next_page_number }}{{ urlGet }}">{{ resultado.next_page_number }}</a>
                                    </li>
                                    {% if duasFrente %}
                                        <li class="page-item">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ duasFrente }}{{ urlGet }}">{{ duasFrente }}</a>
                                        </li>
                                    {% endif %}
                                    {% if tresFrente %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ tresFrente }}{{ urlGet }}">{{ tresFrente }}</a>
                                        </li>
                                    {% endif %}
                                    {% if quatroFrente %}
                                        <li class="page-item grande">
                                            <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ quatroFrente }}{{ urlGet }}">{{ quatroFrente }}</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ resultado.number }}</span>
                                    </li>
                                {% endif %}
                                
                                {% if resultado.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.next_page_number }}{{ urlGet }}">&gt;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?query={{ request.GET.query }}&Classificar={{ request.GET.Classificar|orGet:'Destaque' }}&page={{ resultado.paginator.num_pages }}{{ urlGet }}">&gg;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&gt;</span>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">&gg;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <h2 class="text-danger">&emsp;Resultados para {{ request.GET.query }} não encontrados.</h2>
        </div>
    {% endif %}
</section>

<script src="{% static 'js/pesquisar.js' %}"></script>
<script src="{% static 'js/filtro_coluna_macro_produtos.js' %}"></script>
{% endblock %}
