{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Processar Compra{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/processar.css' %}">

<div class="container table-container">
    <br>
    <div class="row justify-content-center">
        <div class = "col-md-5">
            <h3>Pagamento</h3>
            <form action="{% url 'lojaapp:testPOST' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="path" value="{{ request.path }}">
                <!-- {{form.as_p}} -->
                <div>
                    <label class="option selected">
                        <label class="option_title selected" style="margin-bottom: 0px;">
                            <input type="radio" name="local_pagamento" value="dinheiro" checked>
                            <div class="payment">
                                <table>
                                    <tr>
                                        <td class="payment_place">Dinheiro em espécie (melhor preço) (não diz pro patrão que eu te avisei &#128540; )</td>
                                        {% if pedido.total_desconto %}
                                            <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                            <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                        {% else %}
                                            <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </label>
                        <!-- <input type="hidden" name="metodo_pagamento" value="dinheiro"> -->
                    </label>
                    <label class="option">
                        <label class="option_title">
                            <input type="radio" name="local_pagamento" value="loja">
                            <div class="payment">
                                <table>
                                    <tr>
                                        <td class="payment_place">Pagar na loja</td>
                                        {% if pedido.total_desconto %}
                                            <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                            <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                        {% else %}
                                            <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </label>
                        <div class="methods" style="display: none;">
                            <label class="option_method">
                                <input type="radio" name="metodo_pagamento" value="pix">
                                <div class="payment">
                                    <table>
                                        <tr>
                                            <td class="payment_method">PIX</td>
                                            {% if pedido.total_desconto %}
                                                <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% else %}
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </label>
                            <label class="option_method">
                                <input type="radio" name="metodo_pagamento" value="debito">
                                <div class="payment">
                                    <table>
                                        <tr>
                                            <td class="payment_method">Débito</td>
                                            {% if pedido.total_desconto %}
                                                <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% else %}
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </label>
                            <label class="option_method">
                                <input type="radio" name="metodo_pagamento" value="credito">
                                <div class="payment">
                                    <table>
                                        <tr>
                                            <td class="payment_method">Credito</td>
                                            {% if pedido.total_desconto %}
                                                <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% else %}
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </label>
                            <div class="option_parcelas">
                                <table>
                                    <tr class="parcelas">
                                        <td>Número de parcelas:</td>
                                        <td>
                                            <select name="parcelas">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </label>
                    <label class="option">
                        <label class="option_title">
                            <input type="radio" name="local_pagamento" value="online">
                            <div class="payment">
                                <table>
                                    <tr>
                                        <td class="payment_place">Pagamento online com logo da pagseguro</td>
                                        {% if pedido.total_desconto %}
                                            <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                            <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                        {% else %}
                                            <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </label>
                        <div class="methods" style="display: none;">
                            <label class="option_method">
                                <input type="radio" name="metodo_pagamento" value="pix">
                                <div class="payment">
                                    <table>
                                        <tr>
                                            <td class="payment_method">PIX</td>
                                            {% if pedido.total_desconto %}
                                                <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% else %}
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </label>
                            <label class="option_method">
                                <input type="radio" name="metodo_pagamento" value="debito">
                                <div class="payment">
                                    <table>
                                        <tr>
                                            <td class="payment_method">Débito</td>
                                            {% if pedido.total_desconto %}
                                                <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% else %}
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </label>
                            <label class="option_method">
                                <input type="radio" name="metodo_pagamento" value="credito">
                                <div class="payment">
                                    <table>
                                        <tr>
                                            <td class="payment_method">Credito</td>
                                            {% if pedido.total_desconto %}
                                                <td class="total_desconto">R${{ pedido.total_bruto|intcomma }}</td>
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% else %}
                                                <td class="total_normal">R${{ pedido.total_final|intcomma }}</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            </label>
                        </div>
                    </label>
                </div>
                <div class="text-center">
                    <button class="btn btn-info">Comprar</button>
                </div>
            </form>
        </div>
        <div class = "col-md-7">
            <h3>Itens do carrinho</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">Produtos</th>
                        <th class="text-center">Preço Unitário</th>
                        <th class="text-center">Quantidade</th>
                        <th></th>
                        <th class="text-center">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="vertical-align: middle;">
                    {%for cp in carro.carroproduto_set.all %}
                        <tr>
                            <td class="text-center" style="border-right: none; vertical-align: middle;">{{ forloop.counter }}.</td>
                            <td class="text-center" style="border-left: none; vertical-align: middle;">{{ cp.produto.titulo }}</td>
                            <td class="text-center" style="vertical-align: middle;">R$ {{ cp.preco_unitario|intcomma }}</td>
                            <td class="text-center" style="vertical-align: middle;">{{ cp.quantidade }}</td>
                            <td colspan="3" class="text-center" style="vertical-align: middle;">R$ {{ cp.subtotal|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if pedido.total_desconto %}
                        <tr>
                            <th colspan="4" class="text-right" style="vertical-align: middle; font-weight: 400;">Desconto:</th>
                            <th colspan="3" class="text-center" style="vertical-align: middle; font-weight: 400;">R$ {{ pedido.total_desconto|intcomma }}</th>
                        </tr>
                    {% endif %}
                    {% if not pedido.endereco_envio.cliente.nome == "Casa" and not pedido.endereco_envio.cliente.sobrenome == "HG" %}
                        <tr>
                            <th colspan="4" class="text-right" style="vertical-align: middle; font-weight: 400;">Frete:</th>
                            <th colspan="3" class="text-center" style="vertical-align: middle; font-weight: 400;">R$ {{ pedido.frete|intcomma }}</th>
                        </tr>
                    {% endif %}
                    <tr>
                        <th colspan="4" class="text-right" style="vertical-align: middle;">TOTAL:</th>
                        <th colspan="3" class="text-center" style="vertical-align: middle;">R$ {{ carro.total|intcomma }}</th>
                    </tr>
                </tfoot>
            </table>
            <br>
            <div>
                <h3>Endereço de {% if pedido.endereco_envio.cliente.nome == "Casa" and pedido.endereco_envio.cliente.sobrenome == "HG" %}retirada{% else %}entrega{% endif %}</h3>
                <p class="endereco">
                    {{ pedido.endereco_envio.titulo }}
                    <br>
                    {{ pedido.endereco_envio_formatado }}
                </p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/processar.js' %}"></script>
{% endblock %}

