{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre - CasaHG{% endblock %}

{%block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sobre.css' %}">

<section class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <p>A <span style="color: #ff9900; font-weight: 600;">Casa HG</span>, localizada no centro de Teresópolis/RJ, é uma empresa sólida no segmento de materiais de construção, com mais de 50 anos de tradição no mercado. Contamos com uma ampla estrutura e uma equipe de profissionais treinados para oferecer sempre o atendimento que você merece.</p>

            <p>Se você está pensando em construir ou reformar, venha para a Casa HG! Teremos o prazer de oferecer os melhores produtos com condições facilitadas para suas compras.</p>

            <p>Disponibilizamos formas de pagamento acessíveis e a opção de solicitar orçamentos online de forma prática e rápida.</p>

            <p>Agradecemos sua visita. Caso tenha qualquer dúvida, fique à vontade para entrar em contato conosco.</p>

            <ul>
                <li><a href="{% url 'lojaapp:home' %}">Conheça nossos produtos</a></li>
                <li><a href="https://wa.me/552127420095">Solicite um orçamento</a></li>
            </ul>
            <br>
            <h2>Venha nos visitar!</h2>
            <ul class="localidades">
                {% for e in enderecosLojas %}
                    <li>
                        <span class="address"><b>{{ e.titulo }}</b>: {{ e.rua }}{% if e.numero %} {{ e.numero }}{% endif %}{% if e.complemento %} - {{ e.complemento }}{% endif %}, {{ e.bairro }} - {{ e.cidade }}, {{ e.estado }} - {{ e.cep }}</span>
                        <br>
                        <div id="googleMap{{ forloop.counter }}" class="map"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key={{ mapsKey }}"></script>
<script src="{% static 'js/sobre.js' %}"></script>
{% endblock %}