@media (min-width: 750px) {
    .termos_condicoes_Div label {
        font-size: small;
    }

    .termos_condicoes_janela {
        width: 25vw;
        
        left: 37.5vw;
        top: 25vh;
    }
}
@media (max-width: 750px) {
    .termos_condicoes_Div label {
        font-size: x-small;
    }

    .termos_condicoes_janela {
        width: 85vw;
        
        left: 7.5vw;
        top: 15vh;
    }
}

.errorlist{
    color: red;
}

.termos_condicoes_Div {
    margin-left: 5px;
    margin-bottom: 5px;
}

.termos_condicoes_Div label {
    display: table-cell;
    vertical-align: middle;
}

.termos_condicoes_Div span {
    color: #ff9900;
    text-decoration: underline;
    cursor: pointer;
}

.termos_condicoes_janela {
    position: absolute;

    background-color: white;
    border: 2px solid #ff9900;
    border-radius: 21px;

    padding: 12px;
}

.termos_condicoes_janela h4 {
    width: 98%;
}

.termos_condicoes_janela_close {
    width: 2%;
    height: 16%;

    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.termos_condicoes_janela li {
    text-align: justify;
}